body, h1 {
    /* pilha de fontes*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
}

body {
    display: flex; /* Usando Flexbox para centralizar o layout */
    flex-direction: column; /* itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Altura mínima para ocupar a tela inteira */
    margin: 0; /* Remove margens padrão */
    background-color: #000000; /* Cor de fundo escura para realçar o canvas */
    color: #e0e0e0; /* Cor do texto clara para contraste */
}

h1 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

/* Estilo para o canvas */
#meuCanvas {
    border: 2px solid #000000; /* Uma borda para você vê-lo */
    background-color: #24272b; /* Cor de fundo para o canvas */
    border-radius: 5px; /* Bordas levemente arredondadas */
    cursor: pointer; /* Indica que é interativo */
}